# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Env
.env
.env.*
!.env.example

# Vercel
.vercel

# Editors / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
